[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "===3.2"
python-dotenv = "==0.15.0"
install = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"
